/* BOTON MENU */
.btn-menu{
    width: 140px;
    height: 40px;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    background: rgba(246, 249, 252, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    color: #F6F9FC;
    border: none;
    transition: all 0.3s ease 0s;
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-menu:hover{
    background-color: #F6F9FC;
    box-shadow: 0px 15px 20px rgba(248, 254, 255, 0.4);
    color: #2069E0;
    transform: translateY(-7px);
}
.btn-menu:active {
    transform: translateY(-1px);
}
/* FIN MENU BOTON */
/* BOTON HERO */
.btn-hero{
    width: 230px;
    height: 50px;
    font-family: 'Prompt';
    font-weight: 400;
    background: rgba(246, 249, 252, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color: #F6F9FC;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.btn-hero:hover {
    background-color: #F6F9FC;
    color: #2069DE;
    box-shadow: 0px 15px 20px rgba(248, 254, 255, 0.4);
    transform: translateY(-7px);
}
.btn-hero:active {
    transform: translateY(-1px);
}
/* FIN BOTON HERO */

.btn-que{
    width: 190px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    color: #F6F9FC;
    background-color: #2069DE;
    font-family: 'prompt';
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.btn-que:hover{
    background-color: #F6F9FC;
    box-shadow: 0px 15px 20px rgba(22, 115, 255, 0.4);
    color: #2069E0;
    transform: translateY(-7px);
}
.btn-que:active {
    transform: translateY(-1px);
}

.btn-caja{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    width: 320px;
    height: 70px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Prompt';
    color:#F6F9FC ;
    background-color: #2069E0;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-caja:hover{
    background-color:#F6F9FC;
    box-shadow: 0px 15px 20px rgba(22, 115, 255, 0.4);
    color:#2069E0  ;
    transform: translateY(-7px);
}
.btn-caja:active {
    transform: translateY(-1px);
}
.btn{
    width: 190px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    color: #F6F9FC;
    background-color: #2069DE;
    font-family: 'prompt';
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn:hover{
    background-color: #F6F9FC;
    box-shadow: 0px 15px 20px rgba(22, 115, 255, 0.4);
    color: #2069E0;
    transform: translateY(-7px);
}
.btn:active {
    transform: translateY(-1px);
  }