*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?2qmh7j');
    src:  url('fonts/icomoon.eot?2qmh7j#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?2qmh7j') format('truetype'),
      url('fonts/icomoon.woff?2qmh7j') format('woff'),
      url('fonts/icomoon.svg?2qmh7j#icomoon') format('svg');
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } 
  .icon-hamburguesa:before {
    content: "\e908";
    color: #fff;
    font-size: 55px;
  }
.navbar-dark .navbar-toggler{
    border-color:transparent;
    color: transparent;
}
.navbar .container img{
    width: 165px;
}
.navbar{
    width: 100%;
    font-family: 'prompt';
    z-index: 3;
}
.navbar-main .active{
    text-decoration: underline wavy #F6F9FC;
    text-underline-offset: 5px;
}
/* navbar color */
.navbar-dark .navbar-nav .nav-link{
    color: #F6F9FC;
}
.navbar-nav{
    gap: 60px;
}
.dropdown-menu{
    background: rgba(246, 249, 252, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 10px;
} 
.dropdown-item{
    color: #F6F9FC; 
    border-bottom:1px solid #F6F9FC;
}
.nav-color{
    background-color:#2069E0;
    transition: all ease-in-out 0.3s;
}
.bg-transparent{
    transition: all ease-in 0.3s;
}
/* li a:after{
    content: "";
    position: absolute;
    background-color: #F6F9FC;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -40;
    transition: 0.3s;
}
li a:hover:after{
    width: 100%;
} */
/* <!-- Fin navbar --> */
@media screen and (max-width: 768px){
    .navbar-nav{
        height: 100vh;
        background-color: #2069E0;
        padding: 20px;
        
    }
    .navbar{
        font-size: 20px;
        width: 100%;
        background-color:#2069E0;
    }
    .btn-menu{
        width: 100%;
        height: 50px;
    }
    .boton-menu1{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .dropdown-menu{
        background-color: #2069E0;
        box-shadow: 0 0 0 0;
        backdrop-filter: blur(0px);
        border: 0px;
        gap: 20px;
    }
    .dropdown-item{
        color: #F6F9FC; 
        border-bottom: 0px;
    }
    .dropdown-menu.show{
        gap: 20px;
    }
    .navbar-nav{
        gap: 0;
    }
    .nav-item{
        margin-bottom: 20px;
    }
    nav .container{
        margin: 0px;
    }
    nav{
        width: 100%;
    }
}
@media screen and (max-width:576px){
    .navbar-nav{
        height: 100vh;
        background-color: #2069E0;
        padding: 20px;
    }
    .navbar{
        font-size: 20px;
    }
    .btn-menu{
        width: 100%;
        height: 50px;
    }
    .boton-menu1{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .dropdown-menu{
        background-color: #2069E0;
        box-shadow: 0 0 0 0;
        backdrop-filter: blur(0px);
        border: 0px;
        gap: 20px;
    }
    .dropdown-item{
        color: #F6F9FC; 
        border-bottom: 0px;
    }
    .dropdown-menu.show{
        gap: 20px;
    }
    .navbar-nav{
        gap: 0;
    }
    .nav-item{
        margin-bottom: 20px;
    }
    .navbar .container img{
        margin-left: 5%;
    }
}
