@import url(/navbar.css);
@import url(/footer.css);
@import url(/botones.css);
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?2qmh7j');
    src:  url('fonts/icomoon.eot?2qmh7j#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?2qmh7j') format('truetype'),
      url('fonts/icomoon.woff?2qmh7j') format('woff'),
      url('fonts/icomoon.svg?2qmh7j#icomoon') format('svg');
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
.icon-eventos:before {
    content: "\e907";
    color: #fff;
    font-size: 200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6F9FC;
}
/* <!-- Hero Section --> */
#hero{
    background-image: url(/img/index/slider1.png) ;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.hero-tagline h1{
    color: #E4E900;
    font-weight: 400;
    font-family: 'Dela Gothic One';
    font-size: 45px;
    line-height: 50px;
    text-align: center;
}
.hero-tagline p{
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #F6F9FC;
}
/* FIN HERO SECTION */
.pestanas-items{
    /* background-color: #F3F4FF; */
    border-radius: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.wrapper{
    height: 100%;
    font-family: 'Prompt';
    margin: 0 auto;
    padding-top: 2%;
    /* max-width: 960px; */
}
.box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.box label{
    width: 160px;
    height: 50px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-size: 14px;
    color: #F6F9FC;
    background: #D9D9D9;
    border-radius: 5px;
    order: 1;
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box .container{
    display: none;
    padding: 0px;
    order: 99;
    flex-grow: 1;
    width: 100%;
}
.box input[type="radio"]{
    display: none;
}
.box input[type="radio"]:checked + label{
    background: #2069E0;
    color: #F6F9FC;
}
.box input[type="radio"]:checked + label + .container{
    display: block;
}
.cursos{
    margin-top: 5%;
}
.evento-item{
    display: flex;
    margin-top: 40px;
}
.cursos .fecha{
    width: 93px;
    /* height: 100px; */
}
.fecha .fecha-header{
    width: 93px;
    /* height: 33px; */
    background: #F4F900;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.fecha .fecha-header h5{
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 20px;
    color: #2069E0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.fecha-numero{
    /* width: 93px;
    height: 66px; */
    background: #2069E0;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}
.fecha-numero h4{
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 37.9px;
    color: #FFFFFF;
    text-align: center;
}
.curso-info{
    /* width: 993px; */
    height: 100px;
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
}
.curso-info h2{
    font-family: 'Prompt';
    font-weight: 600;
    font-size: 21.33px;
    color: #2069E0;
}
.curso-info p{
    font-family: 'Prompt';
    font-size: 16px;
    line-height: 21.328px;
    color: #333333;
    margin: 0;
}
.curso-info span .categoria{
    font-family: 'Prompt';
    font-style: normal;
    font-size: 16px;
    color: #333333;
    margin: 0;
    font-weight: 600;
}
.btn-mas{
    width: 30px;
    height: 30px;
    background: #D9D9D9;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -80px;
}
.btn-mas i{
    color: #2069E0;
    font-size: 20px;
}
#cursos .container{
    margin-bottom: 5%;
}